@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.attribution { font-size: 11px; text-align: center }
.attribution a { color: hsl(228, 45%, 44%) }

:root {
    --moderate-blue : hsl(238, 40%, 52%);
    --soft-red: hsl(238, 40%, 52%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);

    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--very-light-gray);
    padding: 4em 0;
}

.comments, .my-reply {
    width: 100%;
    max-width: 750px;
    margin: auto;
    padding: 0 1em;
}

.comment, .reply-comment {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    color: var(--grayish-blue);
    margin-bottom: 1em;
}

.comment::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1em;
    bottom: -1rem;
    left: 0;
    background-color: var(--very-light-gray);
}

.reply-comment {
    margin-left: 1.2em;
}

.reply-comment::before {
    content: "";
    position: absolute;
    bottom: .6em;
    left: -1em;
    height: calc(100% + 1em);
    border-left: 2px solid var(--light-gray);
    z-index: -1;
}

.comnt {
    margin-bottom: 1em;
}

.comnt-info {
    display: flex;
    height: 2.5rem;
    align-items: center;
    margin-bottom: .7em;
}

.comnt-info > * {
    margin-right: 1em;
}

.comnt-info img {
    height: 85%;
}

.comnt-username {
    font-weight: 700;
    color: var(--dark-blue);
}

.comnt-text {
    line-height: 1.5em;
}

.voting-detail {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    padding: 0 .4em;
    border-radius: 11px;
    background-color: var(--very-light-gray);
    color: var(--moderate-blue);
    font-weight: 500;
    cursor: default;
}

.voting-detail p {
    width: 1.6em;
    text-align: center;
}

.btn {
    display: inline-block;
    outline: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.vote-btn {
    color: var(--light-grayish-blue);
    padding: .7em;
    font-weight: 700;
    font-size: 17px;
    transition: color .2s ease;
}

.vote-btn:hover {
    color: var(--moderate-blue);
}

.reply-btn {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: .7em 0;
    color: var(--moderate-blue);
    font-weight: 500;
    font-size: 17px;
    transition: .2s all ease;
}

.reply-btn:hover {
    opacity: 0.5;
}

.reply-user {
    color: var(--moderate-blue);
    font-weight: 700;
}


@media (min-width: 640px) {
    
    .comment, .reply-comment {
        flex-direction: row-reverse;
        padding: 1.5em;
    }

    .reply-comment {
        margin-left: 5em;
    }

    .reply-comment::before {
        left: -2.4em;
    }

    .comnt {
        margin-bottom: 0;
    }

    .voting-detail {
        flex-direction: column;
        height: fit-content;
        margin-right: 1.5em;
        padding: 0 .2em;
    }

    .reply-btn {
        bottom: unset;
        top: 1.3em;
        right: 1.5em;
        font-size: 16px;
    }

}
